<%= form_with(model: robot) do |form| %>
  <% if robot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(robot.errors.count, "error") %> prohibited this robot from being saved:</h2>

      <ul>
        <% robot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :x_location %>
    <%= form.number_field :x_location, class: "form-control w-25" %>
  </div>

  <div class="field">
    <%= form.label :y_location %>
    <%= form.number_field :y_location, class: "form-control w-25" %>
  </div>

  <div class="field">
    <%= form.label :f_direction %>
    <%= form.select :f_direction, {"Directions" => [["North", "north"], ["South", "south"], ["East", "east"], ["West", "west"]], class: "form-control" } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
