<%= form_with(model: robot) do |form| %>

  <div class="field">
    <%= form.label :x_location %>
    <%= form.number_field :x_location, in: 0..4, class: "form-control w-25" %>
  </div>

  <div class="field">
    <%= form.label :y_location %>
    <%= form.number_field :y_location, in: 0..4, class: "form-control w-25" %>
  </div>

  <div class="field">
    <%= form.label :f_direction %>
    <%= form.select :f_direction, {"Directions" => [["North", "north"], ["South", "south"], ["East", "east"], ["West", "west"]], class: "form-control" } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
