<div class="text-left mt-5 text-secondary">
  <div class="row mx-auto row-w">
    <div class="col border border-1 col-h"><span>0, 0</span>
      <div>
        <%= display_robot(@current_robot, 0, 0) %>
      </div>
    </div>
          <div class="col border border-1 col-h"><span>1, 0</span>
        <div>
          <%= display_robot(@current_robot, 1, 0) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>2, 0</span>
        <div>
          <%= display_robot(@current_robot, 2, 0) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>3, 0</span> 
        <div>
          <%= display_robot(@current_robot, 3, 0) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>4, 0</span>
        <div>
          <%= display_robot(@current_robot, 4, 0) %>
        </div>
      </div>
    </div>
      <div class="row mx-auto row-w">
      <div class="col border border-1 col-h"><span>0, 1</span>
        <div>
          <%= display_robot(@current_robot, 0, 1) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>1, 1</span>
        <div>
          <%= display_robot(@current_robot, 1, 1) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>2, 1</span>
        <div>
          <%= display_robot(@current_robot, 2, 1) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>3, 1</span>
        <div>
          <%= display_robot(@current_robot, 3, 1) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>4, 1</span>
        <div>
          <%= display_robot(@current_robot, 4, 1) %>
        </div>
      </div>
    </div>
      <div class="row mx-auto row-w">
      <div class="col border border-1 col-h"><span>0, 2</span>
        <div>
          <%= display_robot(@current_robot, 0, 2) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>1, 2</span>
        <div>
          <%= display_robot(@current_robot, 1, 2) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>2, 2</span>
        <div>
          <%= display_robot(@current_robot, 2, 2) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>3, 2</span>
        <div>
          <%= display_robot(@current_robot, 3, 2) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>4, 2</span>
        <div>
          <%= display_robot(@current_robot, 4, 2) %>
        </div>
      </div>
    </div>
      <div class="row mx-auto row-w">
      <div class="col border border-1 col-h"><span>0, 3</span>
        <div>
          <%= display_robot(@current_robot, 0, 3) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>1, 3</span>
        <div>
          <%= display_robot(@current_robot, 1, 3) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>2, 3</span>
        <div>
          <%= display_robot(@current_robot, 2, 3) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>3, 3</span>
        <div>
          <%= display_robot(@current_robot, 3, 3) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>4, 3</span>
        <div>
          <%= display_robot(@current_robot, 4, 3) %>
        </div>
      </div>
    </div>
      <div class="row mx-auto row-w">
      <div class="col border border-1 col-h"><span>0, 4</span>
        <div>
          <%= display_robot(@current_robot, 0, 4) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>1, 4</span>
        <div>
          <%= display_robot(@current_robot, 1, 4) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>2, 4</span>
        <div>
          <%= display_robot(@current_robot, 2, 4) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>3, 4</span>
        <div>
          <%= display_robot(@current_robot, 3, 4) %>
        </div>
      </div>
      <div class="col border border-1 col-h"><span>4, 4</span>
        <div>
          <%= display_robot(@current_robot, 4, 4) %>
        </div>
      </div>
    </div> 
  </div>
</div>